Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
Pillow==2.3.2
PyMySQL==0.6.6
PyYAML==3.11
Pygments==2.0.2
WebOb==1.4
Werkzeug==0.9.6
ansible==2.0.0.2
beanstalkc==0.4.0
boto==2.34.0
bugsnag==2.1.0
cffi==0.8.6
click==4.1
configobj==5.0.6
coverage==3.7.1
cryptography==0.6.1
freezegun==0.3.4
futures==3.0.3
gunicorn==19.6.0
honcho==0.6.6
httpretty==0.8.10
inflect==0.2.4
itsdangerous==0.24
lxml==3.2.5
mitmproxy==0.10.1
mock==1.0.1
mycli==1.3.0
netlib==0.10.1
paramiko==1.7.7.1
prompt-toolkit==0.45
py==1.4.26
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
pysqlite==2.6.3
pytest==2.6.4
python-dateutil==1.5
readline==6.2.4.1
requests==1.2.3
requests-futures==0.9.5
six==1.9.0
sqlparse==0.1.14
urwid==1.3.0
virtualenv==1.11.6
wcwidth==0.1.4
wsgiref==0.1.2
xmlbuilder==0.9
flask-cors
