         script(src='/js/lib/jquery-2.2.0.min.js')
         script(src='/js/lib/bootstrap.min.js') 
         script(src='/js/main.js')
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB25869j0yLHkbkcxHeWU4njUz_l4Z5fYU&libraries=places&callback=initMap")
     else
         body
             include partials/header
