 extends layout
 
 block content
    input#origin-input.controls(type='text', placeholder='Enter an origin')
    input#destination-input.controls(type='text', placeholder='Enter a destination')

    div#mode-selector.controls
        input#changemode-walking(type='radio', name='type', checked='checked')
        label(for='changemode-walking') Walking
        input#changemode-transit(type='radio', name='type')
        label(for='changemode-transit') Transit
        input#changemode-driving(type='radio', name='type')
        label(for='changemode-driving') Driving

     div#map
             
