footer
    .container.text-center
        p.pull-left
            | Made by 
            a(href='https://github.com/dan-zheng') Daniel Zheng 
            | for 
            a.black(href='http://www.blackironhack.com/') Black IronHack 2016
            | .
